.banners2 {
    padding-top: 10px;
    touch-action: none; //解决"Unable to preventDefault inside passive event listener invocation."!!!目前仍未解决
    .carousel {
        .am-carousel {
            border-radius: 12px;
            overflow: hidden;

            .slider-list {
                .slider-slide {
                    height: 200px !important;
                    .img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
