.All{
    padding-top: 10px;
    background-color: #f5f5f9;
    .MyCarousel{
        height: 195px;
        margin-bottom: 10px;
        // background-color: blanchedalmond;
    }
    .song{
        background-color:#fff;
        border-radius: 15px;
        margin-bottom: 10px;
    }
}
