.total {
    height: 140px;
    position: relative;
    color: #fff;
    .coverImgback {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        //保持原有尺寸比例。但部分内容可能被剪切
        object-fit: cover;
        //给背景图片设置高斯模糊，下面俩配合使用
        -webkit-filter: blur(15px);
        filter: blur(15px);

        //x,y轴缩放1.1倍
        transform: scale(1.1);
    }

    .main {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 20px 0;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.3);

        .left {
            position: relative;
            width: 125px;
            height: 125px;

            img {
                width: 100px;
                height: 100px;
                margin-top: 10px;
            }
        }

        .right {
            flex-grow: 1;
            margin-left: 10px;
            font-weight: bold;

            .name {
                width: 100%;
                display: -webkit-box;
                //从上向下垂直排列子元素
                -webkit-box-orient: vertical;
                //表示显示2行
                -webkit-line-clamp: 2;
                max-height: 47px;
                line-height: 1.3;
                font-size: 16px;
            }
            .description {
                display: flex;
                //定义flex子项在flex容器的当前行的侧轴（纵轴）方向上的对齐方式
                align-items: center;
                margin: 8px 0;
                div {
                    font-size: 5px;
                    font-weight: 400;
                    width: 220px;
                    //超出部分隐藏
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    // background-color: yellow;
                }
            }
            .date {
                // background-color: yellow;
                text-align: right;
                font-size: 8px;
            }
        }
    }
}
