.container {
    padding-top: 5px;
    background-color: #f5f5f9;
    hr {
        width: 90%;
        height: 1px;
        background-color: lightgray;
        margin: 0 auto;
        border: none;
    }
}
